# --- Python (Backend) ---
__pycache__/
venv/
.venv/
*.py[cod]
*.env
# Abaikan data mentah berukuran besar
/data/*.txt
/data/*.csv

# --- Node.js (Frontend) ---
src/frontend/node_modules/
src/frontend/.next/
src/frontend/out/
src/frontend/build/
src/frontend/.env*

# --- OS & Misc ---
.DS_Store
Thumbs.db
*.pem

old_project/
data/
tmp/